@model LearnerProject.Models.Entities.Classroom

@{
    ViewBag.Title = "EditClassrom";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div style="margin-left:35%;margin-top:8%;">
    <br /><br /><br />
    <h4>Sınıf Düzenleme Sayfası</h4>
    <form method="post" class="col-xl-5 col-md-5 table-bordered" style="height:180px;">
        <br />
        @Html.HiddenFor(x=> x.ClassroomID)
        <b>@Html.Label("Sınıf Adı")</b>
        @Html.TextBoxFor(x => x.ClassroomName, new { @class = "form-control" })
        <br />
        <b>@Html.Label("Açıklama")</b>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
        <br />
        <b>@Html.Label("Icon")</b>
        @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
        <br />
        <button class="btn btn-outline-success">Güncelle</button>
    </form>
</div>


